@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&display=swap');

*{
    font-family: 'Buenard', serif;
    margin: 0;
    padding: 0;
}

.nav-link{
    color: #212121 !important;
}

.nav-link:hover{
    background-color: #ed2e36;
    color: #ffffff !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined{
    background-color: #ed2e36;
    color: #ffffff;
}
